wheel
uwsgi
Werkzeug==2.2.2
Flask==2.2.5
flask-sqlalchemy
flask-login
flask-jwt-extended
flask-cors
flask-migrate
psycopg2-binary
requests
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
google-cloud-secret-manager
DateTime
beautifulsoup4