name: Sync Airflow DAGs

on:
  push:
    branches: [main]
    paths:
      - "data_pipeline/airflow/dags/**" # Only trigger on DAG changes
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r data_pipeline/requirements.txt
      - name: Run tests
        run: |
          pytest data_pipeline/airflow/dags/tests/ -v -W ignore::DeprecationWarning
          echo "Running tests..."
  deploy:
    needs: build-and-test
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Copy DAGs to Airflow
        run: |
          sudo rm -rf $HOME/airflow/dags/*
          sudo mkdir -p $HOME/airflow/dags
          sudo chown -R $(whoami) $HOME/airflow/dags
          sudo cp -r data_pipeline/airflow/dags/* $HOME/airflow/dags/
      - name: Restart Airflow
        run: |
          sudo docker restart airflow_airflow-webserver_1
          sudo docker restart airflow_airflow-scheduler_1
      - name: Check Airflow heartbeat
        run: |
          sleep 30
          RESPONSE=$(curl -s http://${{ secrets.HOST }}:8080/health)
          echo "Airflow Response: $RESPONSE"

          SCHEDULER_HEALTH=$(echo "$RESPONSE" | jq -r '.scheduler.status')
          TRIGGERER_HEALTH=$(echo "$RESPONSE" | jq -r '.triggerer.status')

          if [[ "$SCHEDULER_HEALTH" == "healthy" && "$TRIGGERER_HEALTH" == "healthy" ]]; then
            echo "✅ Airflow scheduler and triggerer are healthy"
          else
            echo "❌ Airflow health check failed"
            exit 1
          fi
      - name: Success
        run: echo "✅ DAGs synced successfully!"

  notify:
    runs-on: ubuntu-latest
    if: always()
    needs: deploy
    env:
      SMTP__SMTP_HOST: smtp.gmail.com
      SMTP__SMTP_PORT: 465
      SMTP__SMTP_USER: pc612001@gmail.com
      SMTP__SMTP_PASSWORD: ${{ secrets.SMTP_PASSWORD }}
      SMTP__SMTP_MAIL_FROM: pc612001@gmail.com
      ALERT_EMAIL: choudhari.pra@northeastern.edu

    steps:
      - name: Notify Success
        if: success()
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: ${{ env.SMTP__SMTP_HOST }}
          server_port: ${{ env.SMTP__SMTP_PORT }}
          username: ${{ env.SMTP__SMTP_USER }}
          password: ${{ env.SMTP__SMTP_PASSWORD }}
          subject: "✅ Airflow Sync Successful"
          to: ${{ env.ALERT_EMAIL }}
          from: ${{ env.SMTP__SMTP_MAIL_FROM }}
          secure: true
          body: "Sync of Airflow DAGs has been successfully completed."

      - name: Notify Failure
        if: failure()
        uses: dawidd6/action-send-mail@v4
        with:
          server_address: ${{ env.SMTP__SMTP_HOST }}
          server_port: ${{ env.SMTP__SMTP_PORT }}
          username: ${{ env.SMTP__SMTP_USER }}
          password: ${{ env.SMTP__SMTP_PASSWORD }}
          subject: "❌ Airflow Deployment Failed"
          to: ${{ env.ALERT_EMAIL }}
          from: ${{ env.SMTP__SMTP_MAIL_FROM }}
          secure: true
          body: "Sync of Airflow DAGs failed. Please check GitHub Actions logs for more details."
